$primary-color: #ff7214;
$secondary-color: #112e41;
$third-color: #888888;
$background-color: #f7f7f7;
$bg-color: #162b45;
$icon-orange-color: #ffeee2;
$icon-blue-color: #ebe3ff;
$icon-sky-color: #d5f8ff;
$icon-pink-color: #ffedf5; 
$text-color: #323541;
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$container: 1140px;
$wrapper: 1920px;