section.about 
    .container 
        .about-main 
            .about-image 
                img.about-img1(src="../images/img-about1.png", alt="")
                img.about-img3(src="../images/img-about-bg.jpg", alt="")
                .about-info
                    img.about-img2(src="../images/img-about2.jpg", alt="")
                    span.about-caption 25 Years Working Experience
                    img.about-map(src="../images/img-about-map.jpg", alt="")
            .about-content 
                span.about-content-title About our company
                h2.about-content-heading Make the customer the hero of your story
                h3.about-content-text Open without also first greats land and bring said   you give second face seed deep whales.
                p.about-content-desc May is called whose was moveth was isn't. Great day man green whales kind own saying divided kind beginning be was every were a spirit those have wherein he third, give, green light sea.
                button.about-content-btn Learn more
                    i.about-content-icon.fas.fa-chevron-right
