section.banner 
	.container
		.banner-main  
			.banner-content 
				span.banner-content-title Creative Agency
				h1.banner-content-heading Building Brand is Our Business
				p.banner-content-desc  Can days you'll forth two grass form face you saying, divide. Subdue days light whose. Stars creepeth that creature thing.
				button.banner-content-btn view project
			.banner-image 
				img.banner-image-circle(src="../images/img-banner-circle.png", alt="")
				img.banner-image-photo(src="../images/img-banner-photo.png", alt="")
				img.banner-image-shadow-blue(src="../images/img-banner-shadow-blue.png", alt="")
				img.banner-image-shadow-orange(src="../images/img-banner-shadow-orange.png", alt="")
			img.banner-square(src="../images/img-banner-square.png", alt="")
