section.blog 
    .container 
        +blockBox("Lastest New", "Lastest From Blog")
        .blog-list 
            +blogItem("../images/img-blog-photo1.jpg", "july 15, 2019")
            +blogItem("../images/img-blog-photo2.jpg", "july 17, 2019")
            +blogItem("../images/img-blog-photo3.jpg", "july 20, 2019")
            