section.facts   
	.container 
		.facts-list 
			+factsItem("../images/img-facts-icon1.png","92","Satisfied client")
			+factsItem("../images/img-facts-icon2.png","85","Total project")
			+factsItem("../images/img-facts-icon3.png","67","Work Completed")
			+factsItem("../images/img-facts-icon4.png","85","Work COmpleted")
			
