section.feature 
	.container 
		+blockBox("Special Features", "Advertising with Difference")
		.feature-list
			+featureItem("../images/img-feature-icon1.png", "Unique Design", "Bring creature let Fish to grass under the given a void from deep form greater and days give upon day light likeness.", "feature-item-orange")
			+featureItem("../images/img-feature-icon2.png", "Unique Design", "Bring creature let Fish to grass under the given a void from deep form greater and days give upon day light likeness.", "feature-item-blue")
			+featureItem("../images/img-feature-icon3.png", "Unique Design", "Bring creature let Fish to grass under the given a void from deep form greater and days give upon day light likeness.", "feature-item-sky")
			+featureItem("../images/img-feature-icon4.png", "Unique Design", "Bring creature let Fish to grass under the given a void from deep form greater and days give upon day light likeness", "feature-item-pink")