section.footer 
    .container 
        .footer-list 
            .footer-item 
                img.footer-item-image(src="../images/img-header-logo.png", alt="")
                p.footer-item-desc Evening creature waters unto fill deep man given divided whales man kind Winged open us and there to multiply land evening under 
            .footer-item 
                h4.footer-item-title Our Service 
                a.footer-item-link Frontend Developing
                a.footer-item-link Graphic Design
                a.footer-item-link Software Developing
                a.footer-item-link Digital Marketing
                a.footer-item-link Wordpress Developing
            .footer-item 
                h4.footer-item-title Instagram Feed
                .footer-images 
                    img.footer-img(src="../images/img-footer-photo1.jpg", alt="")
                    img.footer-img(src="../images/img-footer-photo2.jpg", alt="")
                    img.footer-img(src="../images/img-footer-photo3.jpg", alt="")
                    img.footer-img(src="../images/img-footer-photo2.jpg", alt="")
                    img.footer-img(src="../images/img-footer-photo3.jpg", alt="")
                    img.footer-img(src="../images/img-footer-photo1.jpg", alt="")
            .footer-item 
                h4.footer-item-title Contact Info 
                .footer-info 
                    i.footer-info-icon.fas.fa-map-marked-alt
                    p.footer-info-desc 67 Sasha Cove,67 Sasha Cove Eest, Andrewburgh, ML11 DB innings West pink city
                .footer-info 
                    i.footer-info-icon.fas.fa-mobile-alt
                    p.footer-info-desc +02 639 4982 2698 - 2
                .footer-info 
                    i.footer-info-icon.fas.fa-envelope
                    p.footer-info-desc info@themeies.com
section.copyright 
    p Copyright © 2019 <a href="#">themeies.com</a> All Rights Reserved
                            
                        
                             