header.header 
	.container 
		.header-top
			a.header-logo(href= "#")    
				img.header-logo-image(src="../images/img-header-logo.png", alt="")
			ul.header-menu
				+headerMenuItem("#","Home")
				+headerMenuItem("#","About")
				+headerMenuItem("#","Features")
				+headerMenuItem("#","Project")
				+headerMenuItem("#","Blog")
				+headerMenuItem("#","Contact")
			i.header-icon.fas.fa-bars


			