section.team 
	.container 
		+blockBox("Team Member", "Our Experieced Team")
		.team-list 
			+teamItem("../images/img-team-avartar1.jpg", "DeboArah Parkes")
			+teamItem("../images/img-team-avartar2.jpg", "Kathryn Patrick")
			+teamItem("../images/img-team-avartar3.jpg", "Wendy  Frazier")
			