section.testimonials 
	.container
		+blockBox("Testimonials", "Happy Client Says")
	.testimonials-container 	
		.container 	
			.testimonials-main 
				.testimonials-image 
					img.testimonials-img(src="../images/img-client1.jpg", alt="")
					i.testimonials-icon.fas.fa-play
					span.testimonials-caption Watch Intro Video
				.testimonials-content 
					img.testimonials-content-avatar(src="../images/img-client2.jpg", alt="")
					p.testimonials-content-desc Day set fifth winged divided seas years, seas is void darkness winged. Season green life Don great said won't whales together man lesser is may Itself need moveth herb  itself darkness likeness sixth creepeth.
					.testimonials-content-info 
						.testimonials-content-logo 
							img(src="../images/img-client-brand.png", alt="")
						.testimonials-content-name 
							img(src="../images/img-client-name.png", alt="")
							span.testimonials-content-job Software Developer
