section.work 
	.container 
		+blockBox("Client work experience", "Recent Creative Work")
	+workItem("Abstract design", "For You beast you herb whales she would two you are", "../images/img-work-flower.jpg")
	+workItem("digital design", "Green earth him and us whose bring us behold whales", "../images/img-work-fish.jpg", "work-content__reverse", "work-image__reverse", "work-main__reverse")
	+workItem("graphic design", "Saw to fill that the beast Water winged so fruitful tree", "../images/img-work-people.jpg")
	
