.about {
    padding: 12rem 0;
    &-main {
        @include flexBox();
    }
    &-content {
        width: 50%;
        &-title {
            font-family: $secondary-font;
            font-weight: 500;
            color: $primary-color;
            margin-bottom: 3.5rem;
            display: inline-block;
            text-transform: uppercase;
        }
        &-heading {
            font-size: 4.2rem;
            font-weight: bold;
            margin-bottom: 3.5rem;
        }
        &-text {
            margin-bottom: 4rem;
            color: $secondary-color;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.5;
        }
        &-desc {
            font-size: 1.5rem;
            font-weight: 400;
            font-family: $secondary-font;
            line-height: 1.8;
            color: $third-color;
            margin-bottom: 5rem;
        }
        &-btn {
            padding: 3rem 4rem;
            color: white;
            font-weight: 600;
            background-color: $primary-color;
            border-radius: 10rem;
            border: 0;
            text-transform: uppercase;
            transition: all 0.25s linear;
            &:hover {
                color: $primary-color;
                background-color: $secondary-color;  
            }
        }
        &-icon {
            font-size: 1.4rem;
            padding-left: 1rem;
        }
    }
    &-image {
        width: 50%;
        position: relative;
    }
    &-img1 {
        @include size(40rem, 50rem);
        position: absolute;
        top: 10%;
        left: -39%;
        z-index: 1;
        object-fit: cover;
    }
    &-info {
        margin-left: 20rem;
        position: relative;
    }
    &-img2 {
        @include size(30rem, 40rem);
        margin-bottom: 6rem;
        object-fit: cover;
    }
    &-img3 {
        @include size(50rem, 40rem);
        position: absolute;
        top: 5%;
        left: -25%;
        z-index: -1;
    }
    &-caption {
        display: inline-block;
        font-size: 3.2rem;
        font-weight: 700;
        color: $secondary-color;
        line-height: 1.2;
    }
    &-map {
        position: absolute;
        bottom: 0;
        left: 10%;
        z-index: -2;
    }
    @include maxWidth(1399px) {
        &-main {
            display: block;
        }
        &-image {
            width: 100%;
            margin-bottom: 3rem;
        }
        &-content {
            width: 100%;
        }
        &-img1 {
            @include size(45%, 50rem);
            top: 0;
            left: 0;
        }
        &-img3 {
            top: -10%;
            left: 50%;
            transform: translateX(-50%);
        }
        &-info {
            width: 50%;
            margin-left: 50%;
        }
        &-img2 {
            @include size(100%, 40rem);
        }
    }
    @include maxWidth(1023px) {
        padding: 8rem 0;
        &-img3 {
            @include size(48rem);
        }
    }
    @include maxWidth(767px) {
        &-img3 {
            @include size(20rem);
        }
        &-img1 {
            @include size(15rem, 20rem);
        }
        &-img2 {
            height: 15rem;
            margin-bottom: 1.5rem;
        }
        &-caption {
            font-size: 1.5rem;
        }
        &-map {
            @include size(15rem, 10rem);
            bottom: -10%;
        }
        &-content{
            &-title {
                margin-bottom: 2rem;
            }
            &-heading {
                font-size: 3rem;
                margin-bottom: 2rem;
            }
            &-text {
                font-size: 1.8rem;
                margin-bottom: 2.5rem;
            }
            &-desc {
                margin-bottom: 3rem;
            }
            &-btn {
                padding: 2rem 3rem;
            }
        }
    }
}