extends layout/layout

block vars
    -title = 'Maxon'
    -bodyClass = 'home-page'

block container
    include blocks/banner
    include blocks/about
    include blocks/feature
    include blocks/work
    include blocks/facts
    include blocks/testimonials
    include blocks/team
    include blocks/blog
    include blocks/contact
    include blocks/logo
    
